<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Bread App</title>
  </head>
  <body>
    <h1>CRUSTY</h1>
    <img
    class="bread-pic1"
    src="https://i.ibb.co/BNRW7rz/bakery.png"
    alt="BREAD"/>
    <p>THE #1 bread baking app on the market.</p>
    <a class="index-link-text" href="/breads">Bread Inventory</a>
  </body>
</html>

<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>