<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bread Index</title>
  </head>
  <body>
    <h1>All Bread</h1>
    <ul>
        <% breads.forEach(bread => { %>
          <li>
            <a href="/breads/<%= bread._id %>"> <%= bread.name %> </a>
          </li>
        <% }); %>
      </ul>
    <a href="/breads/new">Mix New Dough</a>
  </body>
</html>