<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make a new dough</title>
  </head>
  <body>
    <h1>Mix a New Dough!</h1>
    <form action="/breads" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
    
        <label for="isProofed">Is it proofed?</label>
        <input type="checkbox" name="isProofed" id="isProofed" />
    
        <button type="submit">Mix Dough</button>
      </form>
      <a href="/breads/">Back to Breads</a>
    </body>
    </html>
